body{
font-family:Arial,sans-serif;
background:#f5f7fa;
}

.hero{
height:90vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;

background:
linear-gradient(rgba(0,0,0,.6),
rgba(0,0,0,.6)),
url("https://images.unsplash.com/photo-1497366754035-f200968a6e72");

background-size:cover;
background-position:center;
}

.hero h1{
font-size:60px;
font-weight:bold;
}

.card{
transition:.3s;
border:none;
}

.card:hover{
transform:translateY(-10px);
}

.footer{
background:#111;
color:white;
text-align:center;
padding:40px;
margin-top:50px;
}